.CompaniesList {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.CompaniesList-searchBox{
    width: 500px;
}

.CompaniesList-btn {
    border-radius: 5px;
    height: 2.5em;
    width: 5em;
    margin: 15px auto;
}

.loading{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev,
.next {
  background-color: white;
  border: none;
  color: blue;
  margin: 0 10px;
  cursor: pointer;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}

.CompaniesList-pages {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.active {
  font-weight: 800;
}

