.NotFound {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.NotFound-img {
    height: 300px;
}

.NoutFound-text {
    width: 800px;
}

.NotFound-backHome:hover{
    color: black;
}